[submodule "src/main/resources/assets/betterwithmods/documentation"]
	path = src/main/resources/assets/betterwithmods/documentation
	url = https://gitlab.com/BetterWithMods/Documentation
	branch = master
